@page
@using Microsoft.AspNetCore.Http;
@model FUMiniHotelManagementClient.Pages.DetailBookingReservationModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>Job Dashboard | By Code Info</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/popup.css" />
    <!-- Font Awesome Cdn Link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
</head>

<body>
    <div class="container">
        <nav>
            @if (HttpContext.Session.GetInt32("ROLE") == 1)
            {
                <div class="navbar">
                    <div class="logo">
                        <img src="/pic/logo.jpg" alt="">
                        <h1>Hotel</h1>
                    </div>
                    <ul>
                        <li>
                            <a href="CustomerInformation">
                                <i class="fas fa-user"></i>
                                <span class="nav-item">Customer</span>
                            </a>
                        </li>
                        <li>
                            <a href="RoomInformation">
                                <i class="fas fa-chart-bar"></i>
                                <span class="nav-item">Room</span>
                            </a>
                        </li>
                        <li>
                            <a href="AdminReservation">
                                <i class="fas fa-tasks"></i>
                                <span class="nav-item">Reservation</span>
                            </a>
                        </li>

                        <li>
                            <a href="ReportStatistic">
                                <i class="fab fa-dochub"></i>
                                <span class="nav-item">Statistic</span>
                            </a>
                        </li>
                        <li>
                            <a href="Login" class="logout">
                                <i class="fas fa-sign-out-alt"></i>
                                <span class="nav-item">Logout</span>
                            </a>
                        </li>
                    </ul>
                </div>
            }
            else
            {
                <div class="navbar">
                    <div class="logo">
                        <img src="/pic/logo.jpg" alt="">
                        <h1>Hotel</h1>
                    </div>
                    <ul>
                        <li>
                            <a href="CustomerReservation">
                                <i class="fas fa-tasks"></i>
                                <span class="nav-item">Reservation</span>
                            </a>
                        </li>
                        <li>
                            <a href="Profile">
                                <i class="fas fa-user"></i>
                                <span class="nav-item">Profile</span>
                            </a>
                        </li>

                        <li>
                            <a href="Login" class="logout">
                                <i class="fas fa-sign-out-alt"></i>
                                <span class="nav-item">Logout</span>
                            </a>
                        </li>
                    </ul>
                </div>
            }

        </nav>

        <section class="main">
            <div class="main-top">
                <p>Dam Anh Bang SE150648 University</p>
            </div>
            <div class="main-body">
                <h1>Booking reservation detail</h1>
                <div style="margin-bottom: 10px; margin-left:15px;">
                    <label style="font-weight: bold;" for="fname">Booking Date:</label>
                    <span>@Model.BookingReservationDetail.BookingDate</span>
                    <br>
                    <label style="font-weight: bold;" for="fname">Total Price:</label>
                    <span>@Model.BookingReservationDetail.TotalPrice</span>
                    <br>
                    <label style="font-weight: bold;" for="fname">Booking status:</label>
                    <span>@Model.BookingReservationDetail.BookingStatus</span>
                    <br>
                    <label style="font-weight: bold;" for="fname">Customer Name:</label>
                    <span>@Model.BookingReservationDetail.Customer.CustomerFullName</span>
                    <br>
                    <label style="font-weight: bold;" for="fname">Telephone:</label>
                    <span>@Model.BookingReservationDetail.Customer.Telephone</span>
                    <br>
                    <label style="font-weight: bold;" for="fname">Email:</label>
                    <span>@Model.BookingReservationDetail.Customer.EmailAddress</span>
                    <br>
                    <label style="font-weight: bold;" for="fname">Birthday:</label>
                    <span>@Model.BookingReservationDetail.Customer.CustomerBirthday</span>
                    <br>
                </div>
                <h3>Room Information</h3>
                @foreach (var item in Model.BookingReservationDetail.BookingDetail)
                {
                    <div class="job_card">
                        <div class="job_details">
                            <div class="text">
                                <label style="font-weight: bold;" for="fname">Room number:</label>
                                <span>@item.RoomInformation.RoomNumber</span>
                                <br>
                                <label style="font-weight: bold;" for="fname">Detail description:</label>
                                <span>@item.RoomInformation.RoomDetailDescription</span>
                                <br>
                                <label style="font-weight: bold;" for="fname">Room max capacity:</label>
                                <span>@item.RoomInformation.RoomMaxCapacity</span>
                                <br>
                                <label style="font-weight: bold;" for="fname">Price per day:</label>
                                <span>@item.RoomInformation.RoomPricePerDay</span>
                                <br>
                                <label style="font-weight: bold;" for="fname">Type name:</label>
                                <span>@item.RoomInformation.RoomType.RoomTypeName</span>
                                <br>
                                <label style="font-weight: bold;" for="fname">Type description:</label>
                                <span>@item.RoomInformation.RoomType.TypeDescription</span>
                                <br>
                                <label style="font-weight: bold;" for="fname">Type note:</label>
                                <span>@item.RoomInformation.RoomType.TypeNote</span>
                                <br>
                            </div>
                        </div>

                    </div>
                }


            </div>
        </section>
    </div>



</body>

</html>